{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- appointments23:19-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <title>Order-management </title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
   
    <style>
         /* Custom modal background shade */
         .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.652); /* Adjust opacity as needed */
        }
    </style>
   
    <!-- jQuery UI CSS for Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--[if lt IE 9]>
		<script src="{% static 'admin/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'admin/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
{% block sidebar %}
{% include 'partials/side-bar-admin.html' %}
{% endblock %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'admin_side:seller-home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Coupen Management</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-12">
                        <h4 class="page-title">Current Coupen</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form class="mb-4" role="search">
                            <div class="input-group col-md-6 px-0">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                  
                <!-- table area,down below... -->
                <div class="row mb-3">
                    <div class="col-12 text-right">
                        <a href="#" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#couponModal">
                            <i class="fa fa-plus"></i> Create Coupen
                        </a>
                    </div>
                </div>
                 
 

               <!-- Modal Structure -->
                <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-primary" id="couponModalLabel"><b>Create a New Coupon</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!-- Coupon Form -->
                            <form method="post" action="{% url 'coupon:coupon-management' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="couponName">Coupon code</label>
                                        <input  name="code" type="text" class="form-control" id="couponCod" placeholder="Enter coupon code" required>
                                        <!-- Error message for code -->
                                        {% if errors.code %}
                                            <small class="text-danger">{{ errors.code }}</small><br>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="couponAmount">Coupon Amount (%)</label>
                                        <input name="discount_value" type="number" class="form-control" id="couponAmount" min="0" max="100" placeholder="Enter discount percentage" required>
                                        {% if errors.discount_value %}
                                            <small class="text-danger">{{ errors.discount_value }}</small><br>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="validDate">Valid Until  <i class="fa fa-calendar"></i></label>
                                        <input name="valid_until" type="text" class="form-control" id="validDate" placeholder="Select a valid date " required>
                                        {% if errors.valid_until %}
                                            <small class="text-danger">{{ errors.valid_until }}</small><br>
                                        {% endif %}
                                    </div>
                                    <div class="form-group description-field">
                                        <label for="description">Description <i class="fa fa-info-circle"></i></label>
                                        <textarea name="description" class="form-control" id="description" placeholder="Enter description" required></textarea>
                                        {% if errors.description %}
                                            <small class="text-danger">{{ errors.description}}</small><br>
                                        {% endif %}
                                    </div>
                                
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>Coupon Name</th>
                                        <th>Coupon percentage</th>
                                        <th>Coupon amount</th>
                                        <th>Expiry</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in order_items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ order_item.product_variant.product.name }}</td>
                                        <td>{{ order_item.quantity }}</td>
                                        <td>{{ order_item.product_variant.size }}</td>
                                        <td>{{ order_item.order.user }}</td>
                                        <td>{{ order_item.order_item_status }}</td>
                                        <td>
                                            <!-- Displaying address details -->
                                            {% if order_item.order.order_address %}
                                            <b>address line : </b>{{ order_item.order.order_address.address_line }},<br>
                                            city : {{ order_item.order.order_address.city }},<br>
                                            state : {{ order_item.order.order_address.state }},<br>
                                            country : {{ order_item.order.order_address.country }},<br>
                                            postal code : {{ order_item.order.order_address.postal_code }},<br>
                                            phone number : {{ order_item.order.order_address.phone_number }}<br>
                                            {% else %}
                                                No address available
                                            {% endif %}
                                        </td>
                                        <td>
                                           <!-- Form to change order status -->
                                            <form method="POST" action="">
                                                {% csrf_token %}
                                                <input type="hidden" name="order_item_id" value="{{ order_item.id }}">
                                                <select name="status" onchange="this.form.submit()">
                                                    {% for status, label in status_choices %}
                                                    <option value="{{ status }}" {% if order_item.order_item_status == status %}selected{% endif %}>
                                                        {{ label }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </td>
                                       
                                       
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        
                       
                        <div class="d-flex justify-content-end">
                            <ul class="pagination pagination-sm">
                                <!-- Previous Page Link -->
                                {% if customers.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ customers.previous_page_number }}" tabindex="-1">Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}
                        
                                <!-- Page Numbers -->
                                {% for num in customers.paginator.page_range %}
                                <li class="page-item {% if customers.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                        
                                <!-- Next Page Link -->
                                {% if customers.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ customers.next_page_number }}">Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'admin/js/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    {% for message in messages %}
            swal.fire({
                icon:"{{message.tags}}",
                title:"{{message}}",
                text:"{{message.tags}}",    
            })
    {% endfor %}
    </script>
    
  <!-- Bootstrap 4 JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

  <!-- jQuery UI for Datepicker -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Initialize Datepicker -->
  <script>
    $(function() {
      $("#validDate").datepicker({
        dateFormat: "dd-mm-yy"  // Format the date as YYYY-MM-DD
      });
    });
  </script>
 
</body>

<!-- appointments23:20-->
</html>