{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- appointments23:19-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/cycular-favicon.ico' %}">
    <title>Coupon Management </title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
   
    <style>
         /* Custom modal background shade */
         .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.652); /* Adjust opacity as needed */
        }
    </style>


    <!-- complete customization of the sweet alert -->
    <style>
        /* Inline style for customizing title font size */
        .small-title {
            font-size: 18px ;  /* Adjust the title size as per your need */
            font-weight: bold; /* Optional: make title bold */
        }
        .small-icon {
            font-size: 10px ;  
        }
        .small-popup {
            font-size: 12px ; 
            /* Adjust the text size */
        }
        .swal2-confirm{
             /* Adjust padding for the button */
            
            font-size: 12px ; 
            background-color:#009efb;
            box-shadow: none !important; 
            border:none !important;
        }
      
        .swal2-cancel {
            /* Customize the cancel button */
            background-color: #d33; /* Red color */
           
            font-size: 12px;
            box-shadow: none !important; 
        }
        
        </style>


   
    <!-- jQuery UI CSS for Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--[if lt IE 9]>
		<script src="{% static 'admin/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'admin/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
{% block sidebar %}
{% include 'partials/side-bar-admin.html' %}
{% endblock %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'admin_side:seller-home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Coupen Management</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-12">
                        <h4 class="page-title">Current Coupen</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form class="mb-4" role="search">
                            <div class="input-group col-md-6 px-0">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                  
                <!-- table area,down below... -->
                <div class="row mb-3">
                    <div class="col-12 text-right">
                        <a href="#" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#couponModal">
                            <i class="fa fa-plus"></i> Create Coupon
                        </a>
                    </div>
                </div>
                 
 

               <!-- Modal Structure -->
                <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title text-primary" id="couponModalLabel"><b>Create a New Coupon</b></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!-- Coupon Form -->
                            <form method="post" action="{% url 'coupon:coupon-management' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="couponName">Coupon code</label>
                                        <input  name="code" type="text" class="form-control" id="couponCod" placeholder="Enter coupon code" required>
                                        <!-- Error message for code -->
                                        {% if errors.code %}
                                            <small class="text-danger">{{ errors.code }}</small><br>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="couponAmount">Coupon Amount (%)</label>
                                        <input name="discount_value" type="number" class="form-control" id="couponAmount" min="0" max="100" placeholder="Enter discount percentage" required>
                                        {% if errors.discount_value %}
                                            <small class="text-danger">{{ errors.discount_value }}</small><br>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label for="validDate">Valid Until  <i class="fa fa-calendar"></i></label>
                                        <input name="valid_until" type="text" class="form-control" id="validDate" placeholder="Select a valid date" required>
                                        {% if errors.valid_until %}
                                            <small class="text-danger">{{ errors.valid_until }}</small><br>
                                        {% endif %}
                                    </div>
                                    <div class="form-group description-field">
                                        <label for="description">Description <i class="fa fa-info-circle"></i></label>
                                        <textarea name="description" class="form-control" id="description" placeholder="Enter description" required></textarea>
                                        {% if errors.description %}
                                            <small class="text-danger">{{ errors.description }}</small><br>
                                        {% endif %}
                                    </div>
                                
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>Coupon Code</th>
                                        <th>Coupon percentage</th>
                                        <th>Description</th>
                                        <th>Created at</th>
                                        <th>Expriry date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for coupon in coupons %}
                                    <tr id="coupon-row-{{ coupon.id }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ coupon.code }}</td>
                                        <td>{{ coupon.discount_value }} %</td>
                                        <td>{{ coupon.description }}</td>
                                        <td>{{ coupon.valid_from|date:"d-m-Y H:i:s A" }}</td>
                                        <td>{{ coupon.valid_until|date:"d-m-Y H:i:s A" }}</td>
                                        <td>
                                            <a href="#" class="btn btn-warning " data-toggle="modal" data-target="#editCouponModal{{ coupon.id }}">
                                                <i class="fa fa-edit"></i> Edit Coupon
                                            </a>
                                        </td>
                    
                                        <td>
                                            <!-- Delete button triggers SweetAlert confirmation -->
                                            <a href="#" class="btn btn-danger" onclick="confirmDeleteCoupon({{ coupon.id }})">
                                                <i class="fa fa-trash"></i> Delete Coupon 
                                            </a>
                                        </td>

                                       
                                    </tr>


                                    <!-- Modal for Edit Coupon -->
                                    <div class="modal fade" id="editCouponModal{{ coupon.id }}" tabindex="-1" role="dialog" aria-labelledby="editCouponModalLabel{{ coupon.id }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title text-primary" id="editCouponModalLabel{{ coupon.id }}"><b>Edit Coupon</b></h3>


                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <!-- Edit Coupon Form -->
                                                <form method="post" action="{% url 'coupon:edit-coupon' coupon.id %}">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="couponCode">Coupon Code</label>
                                                            <input type="text" class="form-control" id="couponCode" name="code" value="{{ coupon.code }}" required>
                                                            {% if errors.code %}
                                                            <small class="text-danger">{{ errors.code }}</small><br>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="discountValue">Discount Value (%)</label>
                                                            <input type="number" class="form-control" id="discountValue" name="discount_value" value="{{coupon.discount_value}}" min="0" max="100" required>
                                                            {% if errors.discount_value %}
                                                            <small class="text-danger">{{ errors.discount_value }}</small><br>
                                                            {% endif %}
                                                        </div>
                                                    
                                                       

                                                        <div class="form-group">
                                                            <label for="validDate">Valid Until <i class="fa fa-calendar"></i></label>
                                                            <input name="valid_until" type="text" class="form-control" id="validDate" placeholder="Select a valid date" value="{{coupon.valid_until|date:'d-m-Y'}}" required>
                                                            {% if errors.valid_until %}
                                                                <small class="text-danger">{{errors.valid_until}}</small><br>
                                                            {% endif %}
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="description">Description</label>
                                                            <textarea class="form-control" id="description" name="description" required>{{ coupon.description }}</textarea>
                                                            {% if errors.description %}
                                                            <small class="text-danger">{{ errors.description}}</small><br>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Update Coupon</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- pagination here...  -->
                        <div class="d-flex justify-content-end">
                            <ul class="pagination pagination-sm">
                                <!-- Previous Page Link -->
                                {% if coupons.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ coupons.previous_page_number }}" tabindex="-1">Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {% endif %}
                                
                                <!-- Page Numbers -->
                                {% for num in coupons.paginator.page_range %}
                                <li class="page-item {% if coupons.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                
                                <!-- Next Page Link -->
                                {% if coupons.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ coupons.next_page_number }}">Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'admin/js/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    {% for message in messages %}
            swal.fire({
                icon:"{{message.tags}}",
                title:"{{message}}",
                text:"{{message.tags}}", 
                width:"250px",

                customClass: {
                icon: 'small-icon',
                title: 'small-title',
                confirmButton: 'swal2-confirm',
                popup: 'small-popup', 
            }
               
            });
    {% endfor %}
    </script>
    
  <!-- Bootstrap 4 JS, Popper.js, and jQuery -->
 

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

  <!-- jQuery UI for Datepicker -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Initialize Datepicker -->
  <script>
    $(function() {
      $("#validDate").datepicker({
        dateFormat: "dd-mm-yy"  // Format the date as YYYY-MM-DD
      });
    });
  </script>





  <!-- script for the change the coupon status, down below... -->
  
<script>
    function showAlert({
        title = 'Alert',
        text = '',
        icon = 'info',
        confirmButtonText = 'OK',
        cancelButtonText = 'Cancel',
        showCancelButton = false,
        onConfirm = null,
        onCancel = null
    }) {
        Swal.fire({
            title,
            text,
            icon,
            width:"250px",
            showCancelButton,
            confirmButtonText,
            cancelButtonText,
            customClass: {
                icon: 'small-icon',
                title: 'small-title',
                confirmButton: 'swal2-confirm',
                cancelButton: 'swal2-cancel',
                popup: 'small-popup',
            }
        }).then((result) => {
            if (result.isConfirmed && onConfirm) {
                onConfirm();
            } else if (result.isDismissed && onCancel) {
                onCancel();
            }
        });
    }

    function confirmDeleteCoupon(couponId) {
        showAlert({
            title: 'Are you sure?',
            text: "This will delete permenently...!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            onConfirm: () => deleteCoupon(couponId)
        });
    }

    function deleteCoupon(couponId) {
        const deleteUrl = `{% url 'coupon:delete-coupon' 0 %}`.replace('0', couponId);

        fetch(deleteUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ active: false })
        })
        .then(response => response.json())
        .then(data => {
            console.log("JSON Data:", data);

            if (data.success) {
                showAlert({
                    title: 'Deleted!',
                    text: 'Your coupon has been deleted.',
                    icon: 'success'
                });

                document.getElementById(`coupon-row-${couponId}`).remove();
            } else {
                showAlert({
                    title: 'Error',
                    text: 'Error deleting the coupon. Please try again.',
                    icon: 'error'
                });
            }
        })
        .catch(error => {
            showAlert({
                title: 'Error',
                text: 'Error deleting the coupon. Please try again.',
                icon: 'error'
            });
            console.error("Error:", error);
        });
    }
</script>
 
</body>

<!-- appointments23:20-->
</html>