
{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- appointments23:19-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/cycular-favicon.ico' %}">
    <title>Product Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'admin/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'admin/js/respond.min.js' %}"></script>
	<![endif]-->
    <style>
        .custom-badge {
    position: relative;
    overflow: hidden; /* Ensure ripple effect stays within the button */
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    }

    .status-green {
        background-color: #4CAF50; /* Green */
    }

    .status-blue:hover {
        background-color:#009efb; /* Darker green on hover */
        color: white;
    }

    .ripple-effect {
        position: relative;
    }

    .ripple-effect::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        transform: scale(0);
        transition: transform 0.4s, opacity 0.2s;
    }

    .ripple-effect:active::after {
        transform: scale(4);
        opacity: 0;
        transition: 0s;
    }
    .custom-badge:focus, 
    .custom-badge:active {
    outline: red; /* Remove the focus outline */
    box-shadow: none; /* Remove any box shadow */
    border: none; /* Ensure no border is applied */
    }
    .status-inactive {
        color: red;
    }
    .status-red {
        background-color:#f62d51; /* Green */
    }

    </style>
</head>
{% block sidebar %}
{% include 'partials/side-bar-admin.html' %}
{% endblock %}
        <div class="page-wrapper">
            <div class="content">
                {% block admin-messages%}
                {% include 'partials/admin-message.html' %}
                {% endblock %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'admin_side:seller-home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product Page</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title"><b>Product-Page</b></h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'products:add-product' %}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Products</a>
                    </div>
                </div>
                
                <form class="mb-4" role="search" method="GET" action="{% url 'products:product-management' %}">
                    <div class="input-group col-md-6 px-0">
                        <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
                
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
                                        <th>Sl.No</th>
										<th>Image</th>
										<th>Product Name</th>
                                        <th style="text-align: center;">status</th>
                                        <th style="text-align: center;">View</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
                                    {% for product in products %}
									<tr>
                                        <td>{{forloop.counter}}</td>
										<td><img width="40" height="40" src="{{product.product_variants.first.image1.url }}" class="rounded-circle m-r-5" alt=""></td>
										<td>{{product.name}}</td>
                                        <td style="text-align: center;">
                                            <button class="btn btn-sm toggle-status" data-product-id="{{ product.id }}" data-status="{{ product.status }}" data-toggle="modal" data-target="#confirm-modal-{{ product.id }}">
                                                <span class="custom-badge status-{{ product.status|yesno:'green,red' }}">
                                                    {{ product.status|yesno:'Active,Inactive' }}
                                                </span>
                                            </button>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'products:product-view' product.id %}" class="custom-badge status-blue ripple-effect">
                                                View
                                            </a>
                                        </td>
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="{% url 'products:edit-product' product.id %}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment_{{product.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
                                    <!-- model deletion -->
                                    <div id="delete_appointment_{{product.id}}" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="{% static 'admin/img/sent.png' %}" alt="" width="50" height="46">
                                                    <h3>Are you sure want to delete the product <span style="color:#f62d51">{{product.name}}</span> permenently?</h3>
                                                    <div class="m-t-20"> 
                                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <a href="{% url 'products:delete-product' product.id %}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Confirmation Modal -->
                                    <div id="confirm-modal-{{ product.id }}" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="{% static 'admin/img/sent.png' %}" alt="" width="50" height="46">
                                                    <h3>Are you sure you want to <span style="color:#f62d51">change</span> the <span style="color:#f62d51">status</span> of product : "{{product.name}}"?</h3>
                                                    <div class="m-t-20">
                                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <button class="btn btn-danger confirm-toggle-status" data-product-id="{{ product.id }}" data-dismiss="modal">Confirm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
                </div>
                <div class="d-flex justify-content-end">
                    <ul class="pagination pagination-sm">
                        <!-- Previous Page Link -->
                        {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        {% endif %}
                
                        <!-- Page Numbers -->
                        {% for num in products.paginator.page_range %}
                        <li class="page-item {% if products.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}
                
                        <!-- Next Page Link -->
                        {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'admin/js/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>
	<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.confirm-toggle-status').forEach(function(button) {
            button.addEventListener('click', function() {
                var productId = this.getAttribute('data-product-id');
                var toggleButton = document.querySelector(`.toggle-status[data-product-id="${productId}"]`);
                var status = toggleButton.getAttribute('data-status') === 'True';

                fetch("{% url 'products:toggle-product-status' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: new URLSearchParams({
                        'product_id': productId
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        var statusBadge = toggleButton.querySelector('.custom-badge');
                        toggleButton.setAttribute('data-status', data.status);
                        statusBadge.classList.toggle('status-green', data.status);
                        statusBadge.classList.toggle('status-red', !data.status);
                        statusBadge.textContent = data.status ? 'Active' : 'Inactive';
                        
                        $('#confirm-modal-' + productId).modal('hide');
                    } else {
                        alert('Error: ' + data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
    </script>
</body>


<!-- appointments23:20-->
</html>