{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- departments23:21-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/cycular-favicon.ico' %}">
    <title> Product Category Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'admin/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'admin/js/respond.min.js' %}"></script>
	<![endif]-->
    <style>
        
    .status-green {
        pointer-events: none;
        }
    
    </style>
</head>

<body>
    <div class="main-wrapper">
        {% block sidebar %}
        {% include 'partials/side-bar-admin.html' %}
        {% endblock %}
    

        <div class="page-wrapper">
           
            <div class="content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'admin_side:seller-home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Category Management</li>
                    </ol>
                </nav>
                {% block admin-messages %}
                {% include 'partials/admin-message.html' %}
                {% endblock %}
                <div class="col-sm-5 col-5">
                    <h4 class="page-title" style="margin-left: -15px;"><b>Category Management</b></h4>
                </div>
                
              <!-- for brand section -->
              <div class="row" style="margin-top: 50px;">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Brand List</h4>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'products:add-brand' %}" class="btn btn btn-primary btn-rounded float-left"><i class="fa fa-plus"></i> Add Brand</a>
                    </div>
                    <div class="col-md-12">
                        
                        <div  class="table-responsive">
                            
                            <table class="table table-striped custom-table" class="datatable" style="width: 50%;">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th style="min-width:200px;">Brand Name</th>
                                        <th style="text-align: center;">Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for brand in brands %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{brand.name}}</td>
                                        <td style="text-align: center;">
                                            <button class="btn btn-sm toggle-status" data-product-id="{{ brand.id }}" data-status="{{ brand.status }}" data-toggle="modal" data-target="#confirm-modal-{{ brand.id }}">
                                                <span class="custom-badge status-{{ brand.status|yesno:'green,red' }}">
                                                    {{ brand.status|yesno:'Active,Inactive' }}
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'products:edit-brand' brand.id  %}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_brand_{{brand.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- modal for brand deletion confirmation -->
                                    <div id="delete_brand_{{brand.id}}" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="{% static 'admin/img/sent.png' %}" alt="" width="50" height="46">
                                                    <h3>Are you sure want to delete the brand: "{{brand.name}}" permenently?</h3>
                                                    <div class="m-t-20"> 
                                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <a href="{% url 'products:brand-delete' brand.id %}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- for category section -->
               <div class="row" style="margin-top: 50px;">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Category List</h4>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-sm-8 col-9 text-left m-b-20">
                        <a href="{% url 'products:add-category' %}" class="btn btn-primary btn-rounded" >
                            <i class="fa fa-plus"></i> Add Category
                        </a>
                    </div>                    
                    <div class="col-md-12">
                        
						<div  class="table-responsive">
                            
                            <table class="table table-striped custom-table" class="datatable" style="width: 50%;">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th style="min-width:200px;">Category Name</th>
                                        <th style="text-align: center;">Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{category.name}}</td>
                                        <td style="text-align: center;">
                                            <button class="btn btn-sm toggle-status" data-product-id="{{ category.id }}" data-status="{{ category.status }}" data-toggle="modal" data-target="#confirm-modal-{{ category.id }}">
                                                <span class="custom-badge status-{{ category.status|yesno:'green,red' }}">
                                                    {{ category.status|yesno:'Active,Inactive' }}
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'products:edit-category' category.id %}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_category_{{category.id}}" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <div id="delete_category_{{category.id}}" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="{% static 'admin/img/sent.png' %}" alt="" width="50" height="46">
                                                    <h3>Are you sure want to delete the brand: "{{category.name}}" permenently?</h3>
                                                    <div class="m-t-20"> 
                                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <a href="{% url 'products:category-delete' category.id %}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
						</div>
                    </div>
                </div>


                <!-- for size section -->
                <div class="row" style="margin-top: 50px;">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Size list</h4>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'products:add-size' %}" class="btn btn btn-primary btn-rounded float-left"><i class="fa fa-plus"></i> Add Size</a>
                    </div>
                    <div class="col-md-12">
                        
						<div  class="table-responsive">
                            
                            <table class="table table-striped custom-table" class="datatable" style="width: 50%;">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th style="min-width:200px;">Size Name</th>
                                        <th style="text-align: center;">Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for size in sizes %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{size.name}}</td>
                                        <td style="text-align: center;">
                                            <button class="btn btn-sm toggle-status" data-product-id="{{ size.id }}" data-status="{{ size.status }}" data-toggle="modal" data-target="#confirm-modal-{{ size.id }}">
                                                <span class="custom-badge status-{{ size.status|yesno:'green,red' }}">
                                                    {{ size.status|yesno:'Active,Inactive' }}
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'products:edit-size' size.id %}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_size_{{size.id}}" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- size deletion confirmation modal -->
                                    <div id="delete_size_{{size.id}}" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="{% static 'admin/img/sent.png' %}" alt="" width="50" height="46">
                                                    <h3>Are you sure want to delete the size : "{{size.name}}" permenently?</h3>
                                                    <div class="m-t-20"> 
                                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <a href="{% url 'products:size-delete' size.id %}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
						</div>
                    </div>
                </div>
                
                <!-- for Color section -->
                <div class="row" style="margin-top: 50px;">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Color list</h4> <!-- Updated title -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="{% url 'products:add-color' %}" class="btn btn btn-primary btn-rounded float-left"><i class="fa fa-plus"></i> Add Color</a>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table" class="datatable" style="width: 50%;">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th style="min-width:200px;">Color Name</th> <!-- Updated for Color Name -->
                                        <th style="text-align: center;">Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for color in colors %} <!-- Loop through colors instead of sizes -->
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{color.name}}</td> <!-- Updated for Color name -->
                                        <td style="text-align: center;">
                                            <button class="btn btn-sm toggle-status" data-color-id="{{ color.id }}" data-status="{{ color.status }}" data-toggle="modal" data-target="#confirm-modal-{{ color.id }}">
                                                <span class="custom-badge status-{{ color.status|yesno:'green,red' }}">
                                                    {{ color.status|yesno:'Active,Inactive' }}
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'products:edit-color' color.id %}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_color_{{color.id}}" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                
                                    <!-- color deletion confirmation modal -->
                                    <div id="delete_color_{{color.id}}" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="{% static 'admin/img/sent.png' %}" alt="" width="50" height="46">
                                                    <h3>Are you sure you want to delete the color: "{{color.name}}" permanently?</h3>
                                                    <div class="m-t-20"> 
                                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <a href="{% url 'products:color-delete' color.id %}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                


            </div>
    
        </div>
    </div>




    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>
    <script>



$(document).ready(function() {
    if ($.fn.DataTable.isDataTable('#department-table')) {
        $('#department-table').DataTable().destroy();
    }
    $('#department-table').DataTable({
        "paging": false,
        "info": false,
        "searching": false
    });
});

    </script>
</body>



<!-- departments23:21-->
</html>