

{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- appointments23:19-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <title>Category-page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
</head>

<body>

{% block sidebar %}
{% include 'partials/side-bar-admin.html' %}
{% endblock %}

<div class="page-wrapper">
<div class="content">
<div class="profile-basic">
    <div class="row">
        <div class="col-md-5">
            <div class="profile-info-left">

                <h3 class="user-name m-t-0 mb-0">Cristina Groves</h3>
                <small class="text-muted">Gynecologist</small>
                <div class="staff-id">Employee ID : DR-0001</div>
                <div class="staff-msg"><a href="chat.html" class="btn btn-primary">Send Message</a></div>
            </div>
        </div>
        <div class="col-md-7">
            <ul class="personal-info">
                <li>
                    <span class="title">Phone:</span>
                    <span class="text"><a href="#">770-889-6484</a></span>
                </li>
                <li>
                    <span class="title">Email:</span>
                    <span class="text"><a href="#">cristinagroves@example.com</a></span>
                </li>
                <li>
                    <span class="title">Birthday:</span>
                    <span class="text">3rd March</span>
                </li>
                <li>
                    <span class="title">Address:</span>
                    <span class="text">714 Burwell Heights Road, Bridge City, TX, 77611</span>
                </li>
                <li>
                    <span class="title">Gender:</span>
                    <span class="text">Female</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>

<div class="sidebar-overlay" data-reff=""></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
<script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'admin/js/popper.min.js' %}"></script>
<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'admin/js/app.js' %}"></script>
</body>

