

{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- appointments23:19-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <title>Category-page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
</head>

<body>

{% block sidebar %}
{% include 'partials/side-bar-admin.html' %}
{% endblock %}

<div class="page-wrapper">
<div class="content">
<div class="profile-basic">
    {% block admin-messages%}
    {% include 'partials/admin-message.html' %}
    {% endblock %}
    <div class="row">
        <div class="col-md-5">
            <div class="profile-info-left">

                <h3 class="user-name m-t-0 mb-0">{{product.name}}</h3>
                
                <div class="staff-msg"><a href="{% url 'products:edit-product' product.id %}" class="btn btn-primary">Edit Product Details</a></div>
            </div>
        </div>
        <div class="col-md-7">
            <ul class="personal-info">
               
                <li>
                    <span class="title">Name:</span>
                    <span class="text"><a href="#">{{product.name}}</a></span>
                </li>
                <li>
                    <span class="title">Description:</span>
                    <span class="text">{{product.description}}</span>
                </li>
                <li>
                    <span class="title">Category:</span>
                    <span class="text">{{product.category}}</span>
                </li>
                <li>
                    <span class="title">Brand:</span>
                    <span class="text">{{product.brand}}</span>
                </li>
                <li>
                    <span class="title">Key Specification:</span>
                    <span class="text">{{product.key_specification}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>

<div class="sidebar-overlay" data-reff=""></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
<script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'admin/js/popper.min.js' %}"></script>
<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'admin/js/app.js' %}"></script>
</body>

