{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <style>
        /* Custom width for modal */
        .custom-modal-width .modal-dialog {
            max-width: 450px; /* Adjust as needed */
            margin: 30px auto; /* Adjust vertical margin if necessary */
        }
    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
</head>
<body>
        <main class="main mt-2 ">

            <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">Order History<span>Overview</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'core:index' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                            </ol>
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'wallet:wallet-page' %}"  style=" cursor: pointer;">
                                Go to Wallet
                                <i class="bi bi-arrow-right ms-2 transition"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>




            <main class="container text-center">
                <div class="success-message" style="margin-top: 0px;">
                    <h4>Order History</h4>
                    <div class="table-container">
                        <table class="table responsive-table">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>paymet method</th>
                                    <th>Order Date</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Count</th>
                                    <th>Cancel</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in order_items %}
                                    <tr>
                                        <td data-label="Sl No">{{ forloop.counter }}</td>
                                        <td data-label="Image">
                                            <a href="{% url 'products:single-product-view' order_item.product_variant.id %}"><img src="{{order_item.product_variant.image1.url}}" alt="{{ item.product.name }}" class="img-thumbnail" style="width: 50px; height: 50px;"></a>
                                        </td>
                                        <td data-label="Product Name"><a href="{% url 'products:single-product-view' order_item.product_variant.id %}">{{ order_item.product_variant.product.name }}</a></td>
                                        <td data-label="Payment Method">{{ order_item.order.get_payment_method_display }}</td>
                                        <td data-label="Order Date">{{ order_item.order.order_date }}</td>
                                        <td data-label="Price">₹ {{ order_item.price }}</td>
                                        <td data-label="Status">{{ order_item.order_item_status }}</td>
                                        <td data-label="Count">
                                            <p>{{ order_item.quantity }}</p>
                                        </td>
                                        <td data-label="Cancel">
                                            <button 
                                                class="btn btn-danger btn-sm cancel-order-item-btn" 
                                                data-url="{% url 'wallet:cancell-order-item' order_item.id %}"
                                                {% if order_item.order_item_status == 'Cancelled' %} 
                                                    disabled 
                                                    data-toggle="tooltip" 
                                                    title="This product has already been cancelled" 
                                                {% endif %}>
                                                Cancel
                                            </button>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="9">No items found for this order.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            
            <style>
            @media screen and (max-width: 767px) {
                .responsive-table thead {
                    display: none;
                }
                .responsive-table, .responsive-table tbody, .responsive-table tr, .responsive-table td {
                    display: block;
                    width: 100%;
                }
                .responsive-table tr {
                    margin-bottom: 15px;
                }
                .responsive-table td {
                    text-align: right;
                    padding-left: 50%;
                    position: relative;
                }
                .responsive-table td::before {
                    content: attr(data-label);
                    position: absolute;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                .responsive-table td img {
                    max-width: 100%;
                    height: auto;
                }
            }
            </style>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>      
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cancelButtons = document.querySelectorAll('.cancel-order-item-btn');
    
        cancelButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default button behavior
                const cancelUrl = this.getAttribute('data-url');
    
                // Show SweetAlert confirmation with CAPTCHA
                Swal.fire({
                    title: 'Are you sure to cancell this product ?',
                    text: "Please confirm the cancellation!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, Cancel!',
                    html: `
                    <div>Enter CAPTCHA to confirm:</div>
                    <div id="captcha-container" style="text-align: center; margin-bottom: 10px;">
                        <img src="" id="captcha-image" alt="CAPTCHA Image" 
                             style="display: block; max-width: 100%; height: auto; margin: 0 auto;">
                    </div>
                    <input type="text" id="captcha-input" placeholder="Enter CAPTCHA" class="swal2-input">
                     `,
                    didOpen: () => {
                        // Load CAPTCHA from Django when the modal opens
                        loadCaptcha();
                    },
                    preConfirm: () => {
                        // Get the entered CAPTCHA value
                        const captchaResponse = document.getElementById('captcha-input').value;
                        const captchaKey = document.getElementById('captcha-container').getAttribute('data-captcha-key');

                        if (!captchaResponse) {
                            Swal.showValidationMessage('Please enter the CAPTCHA');
                            return false;
                        }
    
                        // Return the CAPTCHA input value to the `then` part of the promise
                        return { captchaResponse: captchaResponse,captchaKey: captchaKey };
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Send cancellation request along with CAPTCHA to the server
                        fetch(cancelUrl, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                'captcha_response': result.value.captchaResponse,  // Send the CAPTCHA response
                                'captcha_key': result.value.captchaKey  
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.error) {
                                Swal.fire('Error', data.error, 'error');
                            } else {
                                Swal.fire('Success', data.message, 'success');
                                button.setAttribute('disabled', 'true');
                                button.innerText = 'Cancelled';
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }
                });
            });
    
            // Function to load the CAPTCHA from Django
            function loadCaptcha() {
                fetch("{% url 'wallet:captcha-image-url' %}")
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('captcha-image').src = data.captcha_image_url; // Set CAPTCHA image source
                        document.getElementById('captcha-container').setAttribute('data-captcha-key', data.captcha_key);
                    });
            }
        });
    });

     // custom tooltip
     $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                delay: { "show": 500, "hide": 100 },  // Delay before showing and hiding the tooltip
                placement: 'top'  // Placement can be adjusted as needed
            });
        });
    </script>




            
        
    <script>
    {% for message in messages %}
        swal.fire({
            icon:"{{message.tags}}",
            title:"{{message}}",
            text:"{{message.tags}}",
        })
    {% endfor %}
    </script>

    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
   

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <!-- for the sweet alert  -->
 
    
<script>
	// Function to update cart count
	function updateCartCount() {
		fetch('{% url "cart:cart-count" %}', {
			method: 'GET',
			headers: {
				'X-Requested-With': 'XMLHttpRequest',
				'X-CSRFToken': '{{ csrf_token }}'
			}
		})
		.then(response => response.json())
		.then(data => {
			if (data.status === 'success') {
				document.querySelector('.cart-count').textContent = data.count;
			} else {
				console.error('Failed to fetch cart count:', data.message);
			}
		})
		.catch(error => console.error('Error:', error));
	}

	// Call the updateCartCount function when the page loads
	document.addEventListener('DOMContentLoaded', updateCartCount);

</script>


</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>

{% endblock %}

