{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <style>
        /* Custom width for modal */
        .custom-modal-width .modal-dialog {
            max-width: 450px; /* Adjust as needed */
            margin: 30px auto; /* Adjust vertical margin if necessary */
        }
    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
</head>
<body>
        <main class="main mt-2 ">

            <div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">Order History<span>Overview</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'core:index' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                            </ol>
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'wallet:wallet-page' %}"  style=" cursor: pointer;">
                                Go to Wallet
                                <i class="bi bi-arrow-right ms-2 transition"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>


            <main class="container text-center">

                <div class="success-message" style="margin-top: 0px;">
                    <h4>Pending Payments</h4>
                    {% if orders %}
                    <div class="table-container">
                        <table class="table responsive-table text-center"> <!-- Add text-center to the table -->
                            <thead>
                                <tr>
                                    <th class="text-center">Sl No</th> <!-- Center header content -->
                                    <th class="text-center">Products</th>
                                    <th class="text-center">Payment Method</th>
                                    <th class="text-center">Order Date</th>
                                    <th class="text-center">Total Price</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td data-label="Sl No" class="align-middle">{{ forloop.counter }}</td> <!-- Align vertically middle -->
                                        <td data-label="Products" class="align-middle">
                                            <ul class="list-unstyled">
                                                {% for item in order.items.all %}
                                                <li class="d-flex justify-content-center align-items-center mb-2">
                                                    <!-- Image on the left -->
                                                    <div class="me-3">
                                                        <a href="{% url 'products:single-product-view' item.product_variant.id %}">
                                                            <img src="{{ item.product_variant.image1.url }}" alt="{{ item.product_variant.product.name }}" class="img-thumbnail" style="width: 50px; height: 50px;">
                                                        </a>
                                                    </div>
                
                                                    <!-- Product details on the right -->
                                                    <div>
                                                        <strong>{{ item.product_variant.product.name }}</strong>
                                                        <div>
                                                            ({{ item.product_variant.color.name }} - {{ item.product_variant.size.name }})
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td data-label="Payment Method" class="align-middle">{{ order.get_payment_method_display }}</td>
                                        <td data-label="Order Date" class="align-middle">{{ order.order_date }}</td>
                                        <td data-label="Total Price" class="align-middle">{{ order.paid_amount }} ₹</td>
                                        <td data-label="Status" class="align-middle">{{ order.get_order_status_display }}</td>
                                        <td data-label="Action" class="align-middle">
                                            <a href="{% url 'payment:razorpay-order' order.id %}" 
                                            style="display: inline-block; width: 90px; color: white; background-color: rgb(34, 139, 34); border: none; border-radius: 5px; text-align: center; padding: 10px 0; text-decoration: none;" 
                                            class="complete-payment-btn">
                                            Complete Payment
                                            </a>
                                        
                                        </td>
                                    
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No pending payments found.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <!-- Light green message box for no pending payments -->
                    <div class="alert alert-success mt-3" style="background-color:#1cc0a0 ; color: rgb(255, 255, 255); padding: 15px; border-radius: 5px; text-align: center;">
                        <strong>No pending payments found.</strong>
                    </div>
                    {% endif %}
                </div>
                

                <div class="success-message" style="margin-top: 30px;">
                    <h4>Order History</h4>
                    <div class="table-container">
                        <table class="table responsive-table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Sl No</th>
                                    <th style="text-align: center;">Product</th>
                                    <th style="text-align: center;">Payment Method</th>
                                    <th style="text-align: center;">Order Date</th>
                                    <th style="text-align: center;">Offer</th>
                                    <th style="text-align: center;">Coupon Info</th>
                                    <th style="text-align: center;">Actual Price</th>
                                    <th style="text-align: center;">Discount Amount</th>
                                    <th style="text-align: center;">Paid</th>
                                    <th style="text-align: center;">Status</th>
                                    <th style="text-align: center;">Count</th>
                                    <th style="text-align: center;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in order_items %}
                                <tr>
                                    <td data-label="Sl No" style="text-align: center;">{{ forloop.counter }}</td>
                                    <td data-label="Product" style="min-width: 300px; text-align: center;">
                                        <div style="display: flex; align-items: center; justify-content: center;">
                                            <div>
                                                <a href="{% url 'products:single-product-view' order_item.product_variant.id %}">
                                                    <img src="{{ order_item.product_variant.image1.url }}"
                                                        alt="{{ order_item.product_variant.product.name }}"
                                                        style="width: 50px; height: 50px; object-fit: cover;">
                                                </a>
                                            </div>
                                            <div style="text-align: left; margin-left: 10px;">
                                                <strong>{{ order_item.product_variant.product.name }}</strong><br>
                                                <small style="color: #6c757d;">
                                                    ({{ order_item.product_variant.color.name }} - {{ order_item.product_variant.size.name }})
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-label="Payment Method" style="text-align: center;">{{ order_item.order.get_payment_method_display }}</td>
                                    <td data-label="Order Date" style="text-align: center;">{{ order_item.order.order_date }}</td>
                                    <td data-label="Offer" style="text-align: center;">
                                        {% if order_item.product_variant.get_discount_percentage > 0 %}
                                            Offer of {{ order_item.product_variant.get_discount_percentage }}%<br>
                                        {% else %}
                                            No Offers Available
                                        {% endif %}
                                    </td>
                                    <td data-label="Coupon Info" style="text-align: center;">
                                        {% if order_item.coupon_discount_price == 0 %}
                                            Coupon not applied
                                        {% else %}
                                            {{ order_item.coupon_info }}
                                        {% endif %}
                                    </td>
                                    <td data-label="Actual Price" style="text-align: center;">{{ order_item.price }} ₹</td>
                                    <td data-label="Discount Amount" style="text-align: center;">{{ order_item.coupon_discount_price }} ₹</td>
                                    <td data-label="Paid" style="text-align: center;">{{ order_item.effective_price|floatformat:2 }} ₹</td>
                                    <td data-label="Status" style="text-align: center;">{{ order_item.order_item_status }}</td>
                                    <td data-label="Count" style="text-align: center;">
                                        <p>{{ order_item.quantity }}</p>
                                    </td>
                                    <td data-label="Actions" style="text-align: center;">
                                        <!-- Cancel button logic -->
                                        {% if order_item.order_item_status == 'Order placed' or order_item.order_item_status == 'Processing' or order_item.order_item_status == 'Shipped' %}
                                            <button 
                                                style="width: 90px; color: white; background-color: rgb(253, 79, 79); border: none; border-radius: 5px;" 
                                                class="cancel-order-item-btn"
                                                data-url="{% url 'wallet:cancell-order-item' order_item.id %}">
                                                Cancel
                                            </button>
                                        {% elif order_item.order_item_status == 'Cancelled' %}
                                            <button 
                                                style="width: 90px; color: white; background-color: gray; border: none; border-radius: 5px;" 
                                                class="cancel-order-item-btn" 
                                                disabled 
                                                data-toggle="tooltip" 
                                                title="This product has already been cancelled">
                                                Cancelled
                                            </button>
                                        {% endif %}
                                        
                                        <!-- Return button logic -->
                                        {% if order_item.order_item_status == 'Delivered' %}
                                            <button class="return-btn" data-order-item-id="{{ order_item.id }}" 
                                                style="background-color: yellow; border: none; color: black; cursor: pointer; border-radius: 5px;">
                                                Return
                                            </button>
                                        {% elif order_item.order_item_status == 'Return Requested' %}
                                            <span style="color: rgb(255, 255, 255); background-color: gray; padding: 5px 10px; border-radius: 5px;">Requested</span>
                                        {% elif order_item.order_item_status == 'Returned' %}
                                            <span style="color: rgb(255, 255, 255); background-color: rgba(11, 165, 31, 0.79); padding: 5px 10px; border-radius: 5px; ">Returned</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </main>
            

            <!-- Include SweetAlert CSS and JS in your HTML -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const returnButtons = document.querySelectorAll('.return-btn');
            
                    returnButtons.forEach(button => {
                        button.addEventListener('click', function(event) {
                            event.preventDefault();  // Prevent default form behavior
            
                            const orderItemId = button.getAttribute('data-order-item-id');  // Get order item ID
            
                            // Show confirmation SweetAlert
                            Swal.fire({
                                title: 'Confirm Return',
                                text: 'Are you sure you want to return this product?',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, return it!',
                                cancelButtonText: 'No, cancel!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Show reason input SweetAlert
                                    Swal.fire({
                                        title: 'Reason for Return',
                                        html: `
                                            <p style="color:#fd4f4f;">Please select a reason:</p><br>
                                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                                <div>
                                                    <input type="radio" id="wrong-item" name="reason" value="Product is not the same">
                                                    <label for="wrong-item">Product is not the same</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="defective" name="reason" value="Product is defective">
                                                    <label for="defective">Product is defective</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="changed-mind" name="reason" value="Changed my mind">
                                                    <label for="changed-mind">Changed my mind</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="other" name="reason" value="Other">
                                                    <label for="other">Other:</label>
                                                    <input type="text" id="other-reason" placeholder="Enter your reason here" style="margin-left: 5px; padding: 5px; border-radius: 5px; border: 1px solid #ccc; width: 100%;">
                                                </div>
                                            </div>
                                        `,
                                        showCancelButton: true,
                                        confirmButtonText: 'Submit',
                                        cancelButtonText: 'Cancel',
                                        preConfirm: () => {
                                            const reasonInputs = document.getElementsByName('reason');
                                            let reasonSelected = false;
                                            let reasonText = '';
            
                                            // Check if a reason is selected
                                            for (const input of reasonInputs) {
                                                if (input.checked) {
                                                    reasonSelected = true;
                                                    reasonText = input.value;
            
                                                    // If 'Other' is selected, validate the text input
                                                    if (input.id === 'other') {
                                                        const customReason = document.getElementById('other-reason').value.trim();
                                                        if (!customReason) {
                                                            Swal.showValidationMessage('Please enter a reason for the return.');
                                                            return false;  // Prevent submission
                                                        }
                                                        reasonText = customReason;  // Use the custom reason provided by the user
                                                    }
                                                    break;
                                                }
                                            }
            
                                            // If no reason is selected
                                            if (!reasonSelected) {
                                                Swal.showValidationMessage('You need to select a reason for the return.');
                                                return false;  // Prevent submission
                                            }
            
                                            return { reason: reasonText };  // Return the reason for the fetch request
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            const reason = result.value.reason;  // Get the reason provided by the user
            
                                            // Dynamically construct the URL using Django reverse URL pattern
                                            const requestReturnUrl = "{% url 'user_side:request-return' 0 %}".replace('0', orderItemId);
            
                                            // Make the fetch request to the server to update the return status
                                            fetch(requestReturnUrl, {
                                                method: 'POST',  // Use POST method
                                                headers: {
                                                    'Content-Type': 'application/json',  // Set the content type as JSON
                                                    'X-CSRFToken': '{{ csrf_token }}',  // Send CSRF token for security
                                                },
                                                body: JSON.stringify({ status: 'Return Requested', reason: reason })  // Send status and reason as payload
                                            })
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error('Network response was not ok');
                                                }
                                                return response.json();  // Parse JSON response
                                            })
                                            .then(data => {
                                                if (data.success) {
                                                    // Show success message using SweetAlert
                                                    Swal.fire({
                                                        title: 'Success!',
                                                        text: 'Return request has been submitted.We will reach out you with in few days...',
                                                        icon: 'success',
                                                        confirmButtonText: 'OK'
                                                    });
            
                                                    // Dynamically change the button's color and status to indicate return request
                                                    button.style.backgroundColor = 'gray';  // Change color to gray
                                                    button.textContent = 'Requested';  // Change button text
                                                    button.style.color = 'white'; 
                                                    button.disabled = true;  // Disable the button to prevent multiple clicks
                                                    button.style.cursor = 'default'; 
                                                } else {
                                                    // Show error message using SweetAlert
                                                    Swal.fire({
                                                        title: 'Error!',
                                                        text: 'Could not process the return request.',
                                                        icon: 'error',
                                                        confirmButtonText: 'OK'
                                                    });
                                                }
                                            })
                                            .catch(error => {
                                                console.error('Error:', error);
                                                // Show error message using SweetAlert
                                                Swal.fire({
                                                    title: 'Oops!',
                                                    text: 'An error occurred while requesting the return.',
                                                    icon: 'error',
                                                    confirmButtonText: 'OK'
                                                });
                                            });
                                        }
                                    });
                                }
                            });
                        });
                    });
                });
            </script>
            

            
            <style>
            @media screen and (max-width: 767px) {
                .responsive-table thead {
                    display: none;
                }
                .responsive-table, .responsive-table tbody, .responsive-table tr, .responsive-table td {
                    display: block;
                    width: 100%;
                }
                .responsive-table tr {
                    margin-bottom: 15px;
                }
                .responsive-table td {
                    text-align: right;
                    padding-left: 50%;
                    position: relative;
                }
                .responsive-table td::before {
                    content: attr(data-label);
                    position: absolute;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                .responsive-table td img {
                    max-width: 100%;
                    height: auto;
                }
            }
            </style>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>      
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cancelButtons = document.querySelectorAll('.cancel-order-item-btn');
    
        cancelButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default button behavior
                const cancelUrl = this.getAttribute('data-url');
    
                // Show SweetAlert confirmation with CAPTCHA
                Swal.fire({
                    title: 'Are you sure to cancell this product ?',
                    text: "Please confirm the cancellation!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, Cancel!',
                    html: `
                    <div>Enter CAPTCHA to confirm:</div>
                    <div id="captcha-container" style="text-align: center; margin-bottom: 10px;">
                        <img src="" id="captcha-image" alt="CAPTCHA Image" 
                             style="display: block; max-width: 100%; height: auto; margin: 0 auto;">
                    </div>
                    <input type="text" id="captcha-input" placeholder="Enter CAPTCHA" class="swal2-input">
                     `,
                    didOpen: () => {
                        // Load CAPTCHA from Django when the modal opens
                        loadCaptcha();
                    },
                    preConfirm: () => {
                        // Get the entered CAPTCHA value
                        const captchaResponse = document.getElementById('captcha-input').value;
                        const captchaKey = document.getElementById('captcha-container').getAttribute('data-captcha-key');

                        if (!captchaResponse) {
                            Swal.showValidationMessage('Please enter the CAPTCHA');
                            return false;
                        }
    
                        // Return the CAPTCHA input value to the `then` part of the promise
                        return { captchaResponse: captchaResponse,captchaKey: captchaKey };
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Send cancellation request along with CAPTCHA to the server
                        fetch(cancelUrl, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                'captcha_response': result.value.captchaResponse,  // Send the CAPTCHA response
                                'captcha_key': result.value.captchaKey  
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.error) {
                                Swal.fire('Error', data.error, 'error');
                            } else {
                                Swal.fire('Success', data.message, 'success');
                                button.setAttribute('disabled', 'true');
                                button.innerText = 'Cancelled';
                                button.style.backgroundColor = 'gray';
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }
                });
            });
    
            // Function to load the CAPTCHA from Django
            function loadCaptcha() {
                fetch("{% url 'wallet:captcha-image-url' %}")
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('captcha-image').src = data.captcha_image_url; // Set CAPTCHA image source
                        document.getElementById('captcha-container').setAttribute('data-captcha-key', data.captcha_key);
                    });
            }
        });
    });

     // custom tooltip
     $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                delay: { "show": 500, "hide": 100 },  // Delay before showing and hiding the tooltip
                placement: 'top'  // Placement can be adjusted as needed
            });
        });
    </script>




            
        
    <script>
    {% for message in messages %}
        swal.fire({
            icon:"{{message.tags}}",
            title:"{{message}}",
            text:"{{message.tags}}",
        })
    {% endfor %}
    </script>

    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
   

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <!-- for the sweet alert  -->
 
    
<script>
	// Function to update cart count
	function updateCartCount() {
		fetch('{% url "cart:cart-count" %}', {
			method: 'GET',
			headers: {
				'X-Requested-With': 'XMLHttpRequest',
				'X-CSRFToken': '{{ csrf_token }}'
			}
		})
		.then(response => response.json())
		.then(data => {
			if (data.status === 'success') {
				document.querySelector('.cart-count').textContent = data.count;
			} else {
				console.error('Failed to fetch cart count:', data.message);
			}
		})
		.catch(error => console.error('Error:', error));
	}

	// Call the updateCartCount function when the page loads
	document.addEventListener('DOMContentLoaded', updateCartCount);

</script>


</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>

{% endblock %}

