{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
        <main class="main" style="margin-top: 20;">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="{% url 'user_side:sign-out' %}">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                        <!-- Profile Section Start -->
                                        <div class="profile-section d-flex align-items-center mb-4">
                                            <!-- Profile Image -->
                                            <div class="profile-photo mr-3 position-relative">
                                                <img src="path/to/profile/photo.jpg" alt="Profile Photo" class="img-fluid rounded-circle" width="80" height="80" style="border: 2px solid #1cc0a0;">
                                                <!-- Edit Button -->
                                                
                                            </div>
                                            
                                            
                                            <!-- User Info -->
                                            <div class="profile-info">
                                                <h4 class="mb-1">User Name</h4> <!-- User name placeholder -->
                                                <p class="mb-0">user@example.com</p> <!-- User email placeholder -->
                                            </div>
                                        </div>
                                     
                                        <!-- profile edit section -->
                                        <div class="mt-3">
                                            <a href="#" class="d-block mb-1" data-toggle="modal" data-target="#changeUsernameModal">Change Username</a>
                                            
                                                                                        <!-- Link to open the email change modal -->
                                            <a href="#" class="d-block mb-1" data-toggle="modal" data-target="#changeEmailModal">Change Email</a>

                                            <!-- Link to open the password change modal -->
                                            <a href="#" class="d-block mb-1" data-toggle="modal" data-target="#changePasswordModal">Change Password</a>

                                        </div>
                                        <!-- Profile Section End -->

                                       
                                    
                                        <p>Hello <span class="font-weight-normal text-dark">User</span> 
                                           
                                          <br>
                                            From your account dashboard, you can view your 
                                            <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, 
                                            manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, 
                                            and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.
                                        </p>
                                    </div><!-- .End .tab-pane -->
                                    

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<p>No order has been made yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								   

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Billing Address</h3><!-- End .card-title -->

														<p>User Name<br>
														User Company<br>
														John str<br>
														New York, NY 10001<br>
														1-234-987-6543<br>
														yourmail@mail.com<br>
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->

								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

														<p>You have not set up this type of address yet.<br>
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="#">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

		                					<label>Email address *</label>
		        							<input type="email" class="form-control" required>

		            						<label>Current password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control">

		            						<label>New password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control">

		            						<label>Confirm new password</label>
		            						<input type="password" class="form-control mb-2">

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->




       <!-- Modal for changing username -->
        <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="changeUsernameForm" method="POST" action="{% url 'user_side:change-username' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Username</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                    <label for="newUsername">Change your Username below</label>
                    <input type="text" class="form-control" id="newUsername" name="username" placeholder="Enter new username" value="{{ user.username }}" required>
                    {% if errors.username %}
                    <small class="text-danger">{{ errors.username }}</small>
                    {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Cancel button to close the modal -->
                   
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
            </div>
            </div>
        </div>
        

        
      <!-- Change Email Modal -->
        <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="changeEmailForm" method="POST" action="{% url 'user_side:change-email' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <label for="newEmail">New Email Address</label>
                                <input type="email" class="form-control" id="newEmail" name="new_email" placeholder="Enter new email address" required>
                                {% if errors.new_email %}
                                    <div class="text-danger mt-2">{{ errors.new_email }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- OTP Verification Modal -->
        <div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="otpModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="otpForm" method="POST" action="{% url 'user_side:verify-otp' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="otpModalLabel">Verify OTP</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>An OTP has been sent to your current email address. Please enter it below to verify the change.</p>
                            <div class="form-group">
                                <label for="otp">Enter OTP</label>
                                <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" required>
                                {% if errors.otp %}
                                    <div class="text-danger mt-2">{{ errors.otp }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Verify</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        <!-- Modal for changing password -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form id="changePasswordForm">
                    <div class="col-md-12">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password">
                    </div>
                    <div class="col-md-12">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
                    </div>
                    <div class="col-md-12">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password">
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                
                <button type="submit" form="changePasswordForm" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </div>
        </div>
        

        

        

    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    

    




    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
   

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- for the sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Check if the messages framework has set a success or error message
            {% if messages %}
                {% for message in messages %}
                    let type = 'success';
                    let title = 'Success!';
                    let text = '{{ message }}';
    
                    if (message.tags == 'error') {
                        type = 'error';
                        title = 'Error!';
                    }
    
                    Swal.fire({
                        icon: type,
                        title: title,
                        text: text,
                        confirmButtonText: 'OK'
                    });
                {% endfor %}
            {% endif %}
        });

        document.addEventListener('DOMContentLoaded', function () {
        // Check if the modal should be shown based on the context variable
        {% if show_modal %}
            // Open the modal if there are errors
            $('#changeUsernameModal').modal('show');
        {% endif %}
    });

   

    // Handle the display of modals based on form submissions
    $(document).ready(function () {
        // On form submission of change email, prevent default and handle with AJAX
        $('#changeEmailForm').on('submit', function (e) {
            e.preventDefault(); // Prevent default form submission

            // AJAX call to handle form submission
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    // Check if there are no errors, then open OTP modal
                    if (!response.errors) {
                        $('#changeEmailModal').modal('hide'); // Close change email modal
                        $('#otpModal').modal('show'); // Open OTP modal
                    } else {
                        // Handle errors if needed
                        // Display errors on the current modal
                    }
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error); // Handle error
                }
            });
        });
    });

    </script>

</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>

{% endblock %}

