{% block css_in_animation %}
<style>
    .alert {
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }
    .alert.show {
        opacity: 1;
    }
</style>
{% endblock %}

{% if form.errors %}
<div class="form-error">
    <strong>Please correct the following errors:</strong>
    <ul>
        {% for field in form %}
            {% if field.errors %}
                <li>{{ field.label }} : {{ field.errors }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var alerts = document.querySelectorAll('.alert');
        
        alerts.forEach(function(alert) {
            // Fade in
            setTimeout(function() {
                alert.classList.add('show');
            }, 100);
    
            // Fade out after 3 seconds
            setTimeout(function() {
                alert.classList.remove('show');
                
                // Remove the alert from the DOM after fading out
                alert.addEventListener('transitionend', function() {
                    alert.remove();
                });
            }, 3000);
        });
    });
    </script>
    
