{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <title>Offer Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
    <style>
        /* Custom modal background shade */
        .modal-backdrop {
           background-color: rgba(0, 0, 0, 0.652); /* Adjust opacity as needed */
       }
   </style>
    <!-- complete customization of the sweet alert -->
    <style>
        /* Inline style for customizing title font size */
        .small-title {
            font-size: 18px ;  /* Adjust the title size as per your need */
            font-weight: bold; /* Optional: make title bold */
        }
        .small-icon {
            font-size: 10px ;  
        }
        .small-popup {
            font-size: 12px ; 
            /* Adjust the text size */
        }
        .swal2-confirm{
             /* Adjust padding for the button */
            
            font-size: 12px ; 
            background-color:#009efb;
            box-shadow: none !important; 
            border:none !important;
        }
      
        .swal2-cancel {
            /* Customize the cancel button */
            background-color: #d33; /* Red color */
           
            font-size: 12px;
            box-shadow: none !important; 
        }
        
        </style>

</head>

<body>
{% block sidebar %}
{% include 'partials/side-bar-admin.html' %}
{% endblock %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'admin_side:seller-home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Offer Management</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-12 text-center"> <!-- Added text-center class here -->
                        <h4 class="page-title">Current Offers</h4>
                    </div>
                </div>
                
                <!-- Heading for Product Offers -->
                <div class="row">
                    <div class="col-12">
                        <h4 >Available Product Offers</h4>
                    </div>
                </div>

                <!-- Add Product Offer Button -->
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary float-right mb-4" data-toggle="modal" data-target="#addProductOfferModal">
                            Add Product Offer
                        </button>
                    </div>
                </div>
                



                <!-- Product Offer Table -->
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>Product Name</th>
                                        <th>Offer Name</th>
                                        <th>Offer Percentage</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product_variant_offer in product_variant_offers %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ product_variant_offer.product_variant.product.name }} - {{ product_variant_offer.product_variant.size.name }}</td>
                                        <td>{{ product_variant_offer.offer_name }}</td>
                                        <td>{{ product_variant_offer.discount_percentage }}%</td>
                                        <td>{{ product_variant_offer.start_date }}</td>
                                        <td>{{ product_variant_offer.end_date }}</td>
                                        <td>
                                            <button class="btn btn-danger delete-btn" data-offer-id="{{ product_variant_offer.id }}">Delete</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <h4 >Available Brand Offer</h4>
                    </div>
                </div>
                <!-- Add Brand Offer Button -->
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary float-right mb-4" data-toggle="modal" data-target="#addBrandOfferModal">
                            Add Brand Offer
                        </button>
                    </div>
                </div>

                <!-- Brand Offer Table -->
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>Brand Name</th>
                                        <th>Offer Percentage</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for brand_offer in brand_offers %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ brand_offer.brand.name }}</td>
                                        <td>{{ brand_offer.offer_percentage }}%</td>
                                        <td>{{ brand_offer.start_date }}</td>
                                        <td>{{ brand_offer.end_date }}</td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Add Product variant Offer Modal -->
<div class="modal fade" id="addProductOfferModal" tabindex="-1" role="dialog" aria-labelledby="addProductOfferLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductOfferLabel">Add Product variant Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'offer:add-product-variant-offer' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="offer_name">Offer Name</label>
                        <input type="text" class="form-control" name="offer_name" value="{{ offer_name|default:'' }}" required>
                        {% if errors.offer_name %}
                            <small class="text-danger">{{ errors.offer_name }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="product_variant">Product Variant</label>
                        <select class="form-control" name="product_variant_id" required>
                            {% for variant in product_variants %}
                                <option value="{{ variant.id }}">
                                    {{ variant.product.name }} - {{ variant.size.name }}
                                </option>
                            {% endfor %}
                        </select>
                        {% if errors.product_variant_id %}
                            <small class="text-danger">{{ errors.product_variant_id }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="offer_percentage">Offer Percentage</label>
                        <input type="number" class="form-control" name="offer_percentage" min="1" max="100" value="{{ discount_percentage|default:'' }}" required>
                        {% if errors.offer_percentage %}
                            <small class="text-danger">{{ errors.offer_percentage }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" class="form-control" name="end_date" value="{{ end_date|default:'' }}" required>
                        {% if errors.end_date %}
                            <small class="text-danger">{{ errors.end_date }}</small>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Add Offer</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Brand Offer Modal -->
<div class="modal fade" id="addBrandOfferModal" tabindex="-1" role="dialog" aria-labelledby="addBrandOfferLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBrandOfferLabel">Add Brand Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'offer:add-brand-offer' %}"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <select class="form-control" name="brand" required>
                            <option value="" disabled selected>Select Brand</option>
                            {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="offer_percentage">Offer Percentage</label>
                        <input type="number" class="form-control" name="offer_percentage" min="1" max="100" required placeholder="Enter discount percentage">
                    </div>
                    
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" class="form-control" name="end_date" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Offer</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
{% for message in messages %}
        swal.fire({
            icon:"{{message.tags}}",
            title:"{{message}}",
            text:"{{message.tags}}", 
            width:"250px",

            customClass: {
            icon: 'small-icon',
            title: 'small-title',
            confirmButton: 'swal2-confirm',
            popup: 'small-popup', 
        }
           
        });
{% endfor %}
</script>
<!-- JS for handling the soft delete of the ProductOffer model -->
<script>
    // Common SweetAlert function to handle various types of alerts
    function showSweetAlert({title, text, icon, confirmButtonText, showCancelButton = false, confirmButtonColor = '#3085d6', cancelButtonColor = '#d33'}) {
        return Swal.fire({
            title: title,
            text: text,
            icon: icon,
            showCancelButton: showCancelButton,
            confirmButtonColor: confirmButtonColor,
            cancelButtonColor: cancelButtonColor,
            confirmButtonText: confirmButtonText,
             width:"250px",

            customClass: {
            icon: 'small-icon',
            title: 'small-title',
            confirmButton: 'swal2-confirm',
            popup: 'small-popup', 
        }

        });
    }
    
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function(event) {
            const offerId = this.dataset.offerId;
            const row = this.closest('tr');
    
            // Use the common SweetAlert function to confirm deletion
            showSweetAlert({
                title: 'Are you sure?',
                text: "Do you really want to delete this offer? This action is not reversible!",
                icon: 'warning',
                confirmButtonText: 'Yes, delete it!',
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Proceed with deletion if confirmed
                    fetch("{% url 'offer:delete-offer' 0 %}".replace(0, offerId), {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'  // Directly pass the CSRF token from the template
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Use the common SweetAlert for success message
                            showSweetAlert({
                                title: 'Deleted!',
                                text: 'The offer has been deleted.',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            });
                            // Hide the soft-deleted offer row from the table
                            row.style.display = 'none';
                        } else {
                            // Use the common SweetAlert for error message
                            showSweetAlert({
                                title: 'Error!',
                                text: data.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(error => {
                        showSweetAlert({
                            title: 'Error!',
                            text: 'There was a problem processing your request.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                        console.error('Error:', error);
                    });
                }
            });
        });
    });
    </script>
    

<script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'admin/js/popper.min.js' %}"></script>
<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'admin/js/select2.min.js' %}"></script>
<script src="{% static 'admin/js/app.js' %}"></script>

</body>

</html>
